Malformed large BGP communities attributes handling

I would like to ask your support to analyze a behaviour that seems unexpected to me. It seems ExaBGP does not handle malformed large BGP communities attributes in the way I understand the draft wants to.

Draft:
> A BGP UPDATE message with a malformed Large Communities attribute SHALL be handled using the approach of "treat-as-withdraw" as described in section 2 [RFC7606].

RFC7606:
> Treat-as-withdraw: In this approach, the UPDATE message containing the path attribute in question MUST be treated as though all contained routes had been withdrawn just as if they had been listed in the WITHDRAWN ROUTES field (or in the MP_UNREACH_NLRI attribute if appropriate) of the UPDATE message, thus causing them to be removed from the Adj-RIB-In according to the procedures of [RFC4271].

**receiver**'s log:

```
17:03:48 | INFO     | 103    | routes        | peer 192.0.2.2 ASN 65536   << UPDATE (16) (   4)  attributes origin igp as-path [ 65536 ] large-community [ 1:2:3 4:5:6 ]
17:03:48 | INFO     | 103    | routes        | peer 192.0.2.2 ASN 65536   << UPDATE (16) nlri  (   5)203.0.113.11/32 next-hop 192.0.2.2
17:03:50 | INFO     | 103    | routes        | peer 192.0.2.2 ASN 65536   << UPDATE (17) (   4)  attributes origin igp as-path [ 65536 ] large-community [ 1:2:3 4:5:6 ]
17:03:50 | INFO     | 103    | routes        | peer 192.0.2.2 ASN 65536   << UPDATE (17) nlri  (   5)203.0.113.12/32 next-hop 192.0.2.2
17:03:52 | INFO     | 103    | network       | Peer       192.0.2.2 ASN 65536   out loop, peer reset, message [notification sent (3,1)] error[UPDATE message error / Malformed Attribute List / could not decode large community ['0x0', '0x0', '0x0', '0x4', '0x0', '0x0', '0x0', '0x5', '0xff']]
```

JSON output produced by **receiver**:

```
{ "exabgp": "3.5.0", "time": 1476453828.95, "host" : "exabgpReceiver", "pid" : 103, "ppid" : 1, "counter": 16, "type": "update", "neighbor": { "address": { "local": "192.0.2.102", "peer": "192.0.2.2" }, "asn": { "local": "65539", "peer": "65536" }, "direction": "receive", "message": { "update": { "attribute": { "origin": "igp", "as-path": [ 65536 ], "confederation-path": [], "large-community": [ [ 1, 2 , 3 ], [ 4, 5 , 6 ] ] }, "announce": { "ipv4 unicast": { "192.0.2.2": [ { "nlri": "203.0.113.11/32" } ] } } } } } }
{ "exabgp": "3.5.0", "time": 1476453830.95, "host" : "exabgpReceiver", "pid" : 103, "ppid" : 1, "counter": 17, "type": "update", "neighbor": { "address": { "local": "192.0.2.102", "peer": "192.0.2.2" }, "asn": { "local": "65539", "peer": "65536" }, "direction": "receive", "message": { "update": { "attribute": { "origin": "igp", "as-path": [ 65536 ], "confederation-path": [], "large-community": [ [ 1, 2 , 3 ], [ 4, 5 , 6 ] ] }, "announce": { "ipv4 unicast": { "192.0.2.2": [ { "nlri": "203.0.113.12/32" } ] } } } } } }
```

If I'm not wrong, I would have expected to see a `message > update > withdraw` data structure in the JSON output. Did I miss something to have ExaBGP processing that message and producing the withdraw?

Thanks.

**sender**'s config:

```
process announce-routes {
        run /etc/exabgp/malformed-lc;
        encoder text;
}
neighbor 192.0.2.102 {
        router-id 192.0.2.2;
        local-address 192.0.2.2;
        local-as 65536;
        peer-as 65539;
        listen 179;

        api {
                processes [ announce-routes ];
                send {
                        packets;
                }
        }
}
```

**malformed-lc**:

```
#!/usr/bin/env python

import sys
import time

time.sleep(5)

VALID="0x000000010000000200000003000000040000000500000006"
INVALID="0x0000000100000002000000030000000400000005FF"

TPL="announce route {prefix} next-hop 192.0.2.2 attribute [0x1e 0xe0 {lc}]\n"

sys.stdout.write(TPL.format(prefix="203.0.113.11/32", lc=VALID))
sys.stdout.flush()
time.sleep(2)

sys.stdout.write(TPL.format(prefix="203.0.113.12/32", lc=VALID))
sys.stdout.flush()
time.sleep(2)

sys.stdout.write(TPL.format(prefix="203.0.113.12/32", lc=INVALID))
sys.stdout.flush()

while True:
        time.sleep(1)
```

**receiver**'s config:

```
process dump-received {
        run /etc/exabgp/dump-received;
        encoder json;
}

neighbor 192.0.2.2 {
        router-id 192.0.2.102;
        local-address 192.0.2.102;
        local-as 65539;
        peer-as 65536;
        listen 179;

        api {
                processes [ dump-received ];
                receive {
                        update;
                        parsed;
                }
        }
}
```

**dump-received**:

```
#!/bin/bash

echo "-------------------" >> /etc/exabgp/received
cat >> /etc/exabgp/received
```

ExaBGP does not implement threat as withdraw on errors - it would not be hard to do - it is just that I need to read the whole RFC as you should implement it all - not just that bit.

The RFC wording says: SHALL (which is SHOULD) and is not a mandatory requirement for compliance. So I am aware we do not handle this ideally but we are implementing the RFC in a valid way.

To give you some background on why treat-as-withdraw exists:

large community is a new attribute, it will be the newest one to be created when the draft goes to RFC. 
When ASN4 (which required a new attribute to encode the 32 bit ASN path) was created it was found that a speaker could generate the route, the receiver (its configured peer) could be fine with it, as for it, it was transitive and unknown - so it would not be decoded, transmit it further.
It would found that in the wild some routers would have issue decoding this attribute as it had been mal-formed at the source. Something the initial peer could not know.
So the FIRST ASN4 aware speaker, would receive this packet, see it was invalid, and tear down the session. 
The session had nothing to do with the announcer (ie: session were flapping a few ASN away from the announcer): Imagine a T1 which get that attribute from a client, propagate it to another T1 which notice the issue. You could just cause one/multiple 100Gb interface to drop just due to a small client mistake.

So, to prevent this scenario, it was decided that while the 'normal' tear down session on invalid data had worked well, it was in that case better to loose the route.

I agree that I should implement the RFC .. perhaps you can open another issue for that.

You can read more about the initial issue (which I simplied) here:
http://rob.sh/post/175

@job why threat as withdraw and not simply "Attribute discard". If it is the only mistake the route is still 'valid' only policy routing would be affected. I think it would be a more appropriate (less punishing suggestion). You could offer the option of either to implementation too.

@thomas-mangin, many thanks for your detailed answer.

My understanding is that a "SHALL" statement represents a mandatory requirement for an implementation...

> MUST   This word, or the terms "REQUIRED" or "SHALL", mean that the definition is an absolute requirement of the specification.

([RFC2119](https://tools.ietf.org/html/rfc2119))

... so I wanted to open this issue, first of all to be sure my analysis of ExaBGP's behaviour was right and then, in case you were not already aware of it, to let you know about that.

You say that SHALL is not a mandatory requirement for compliance; I'm not deeply involved in IETF practices, so of course I'm missing something here: could you point me to the right interpretation of the word within this context? Anyhow I apologize If I wasted your time with this.

WRT the choice of error handling approach, I actually agree (for what it's worth) with the treat-as-withdraw-only approach: given the options from [RFC7606 section 2](https://tools.ietf.org/html/rfc7606#section-2) IMHO it's the one that best fits. The first two options would lead to the same (or similar) behaviour you described in the background you provided about ASN4, while the fourth one ("attribute discard") could lead to opposite or counterproductive results respect those a BGP speaker would have desired. The same "attribute discard" option's description states that `This approach MUST NOT be used except in the case of an attribute that has no effect on route selection or installation`, while the whole large BGP communities is exactly meant `to aid in routing management` and, from our daily experience, we know communities are <del>widely</del> _largely_ (:smile:) used to influence route selection or installation. [RFC7606 section 7.8](https://tools.ietf.org/html/rfc7606#section-7.8) and [section 8](https://tools.ietf.org/html/rfc7606#section-8) (`In particular, if the attribute in question has or may have an effect on route selection or installation, the presumption is that discarding it is unsafe unless careful analysis proves otherwise.`) also face this specific issue.

Do you think mine is a simplistic vision?

I have not checked RFC 2119 for years. Bad memory :-( I stand corrected !

In that case you are right

I am fine with threat as withdraw as a last resource solution but I believe it is an very heavy hammer and that with a policy attribute such as this one, the first line of defense would be better 
with "Attribute Discard" as an option too.

If an upstream you are speaking with is not filtering traffic as you request, it will become visible - but you will still get traffic. In the other case you are blackholing yourself. I think having too much traffic is better than creating a DOS for your customers.

Regarding the comment `This approach MUST NOT be used except in the case of an attribute that has no effect on route selection or installation` - LC does not have ANY effect unless explicitly configured so I would argue that it does not cause a problem but I am sure this can also be interpreted another way.
I would expect that this clause was added to make sure BGP remain loop free with ASPATH (which caused this RFC to be written) but the author may also have had local pref, med and communities in mind and in that case large communities should also be treated that way. 

QED: I am not sure if they also intended it for communities. It will require reading the IETF IDR archive to be sure ... (and perhaps even check how current implementation have interpreted the wording by checking what happens with a bad "normal" community)

@job  !!! can you tell us what you think ?

```
   e.  "Treat-as-withdraw" MUST be used for the cases that specify a
       session reset and involve any of the attributes ORIGIN, AS_PATH,
       NEXT_HOP, MULTI_EXIT_DISC, or LOCAL_PREF.
```
communities are not listed but but ..
```
   o  An UPDATE message with a malformed Community attribute SHALL be
      handled using the approach of "treat-as-withdraw".
```

So they advocate "treat-as-withdraw" for communities .. so it bode badly for a different interpretation for LC !

Looks like I will need to implement RFC7606. sigh. when ! when !


@thomas-mangin we 'treat-as-withdraw' to align with RFC1997 behaviour on most platforms

ok 😢 will have to code 😛 

Looks like I'll have a new enemy from now on :stuck_out_tongue: 

LOL - no thank you for raising this valid point ... Just have little free time for coding atm - but I will try to implement the RFC correctly. It is not an hard thing to do, just hard to do it right first thing ;p

Hello @thomas-mangin, after your message on
pierky/large-bgp-communities-playground#4 I tested the new
bae208094ca3dd91ddade513c60ab5d7cc39e7a8 commit and I obtained the
expected behaviour for what concerns malformed large BGP communities
attributes handling:

```
{ ..., "type": "update", "neighbor": { ..., "message": { "update": {
..., "large-community": [ [ 1, 2 , 3 ], [ 4, 5 , 6 ] ] }, "announce":
{ "ipv4 unicast": { "192.0.2.2": [ { "nlri": "203.0.113.11/32" } ] } }
} } } }
{ ..., "type": "update", "neighbor": { ..., "message": { "update": {
..., "large-community": [ [ 1, 2 , 3 ], [ 4, 5 , 6 ] ] }, "announce":
{ "ipv4 unicast": { "192.0.2.2": [ { "nlri": "203.0.113.12/32" } ] } }
} } } }
{ ..., "type": "update", "neighbor": { ..., "message": { "update": {
..., "error": "treat-as-withdraw" }, "withdraw": { "ipv4 unicast": [ {
"nlri": "203.0.113.12/32" } ] } } } } }
```

Thanks!