Will exabgp support flowspec TCP_Flags CWR, ECE and NS

RFC 7125 contains the updated changes for RFC 793 and RFC3168. RFC 7125 includes the TCP header definitions for NS, CWR, ECE, URG, ACK, PSH, RST, SYN, FIN

Will exabgp support CWR, ECE and NS in future releases?

Hi @enag11 , I will have to look at the RFC but if it is not too complex, I agree it is a desirable feature

Thanks Thomas

The RFC 7125 defines it for IPFIX and not BGP, so there is nothing here which can be implemented.

CWR and ECE are good 

NS fails >> configuration could not load/reload configuration


Oh, 🤔 very surprised, you may see why if you look at the patch tomadd the features. I will see if I can reproduce.

My suspicion when you reported the issue was confirmed: the value of NS is 0x100 which is bigger than 0xFF the maximum value for a char and RFC 5575 encodes the flag with a char.

The value is encoded as a single byte so it will work for ECE and CWR but not NS..

RFC 5575
```
      Type 9 - TCP flags

         Encoding: <type (1 octet), [op, bitmask]+>

         Bitmask values can be encoded as a 1- or 2-byte bitmask.  When
         a single byte is specified, it matches byte 13 of the TCP
         header [RFC0793], which contains bits 8 though 15 of the 4th
         32-bit word.  When a 2-byte encoding is used, it matches bytes
         12 and 13 of the TCP header with the data offset field having a
         "don't care" value.

         As with port specifiers, this component evaluates to FALSE for
         packets that are not TCP packets.

         This type uses the bitmask operand format, which differs from
         the numeric operator format in the lower nibble.

                       0   1   2   3   4   5   6   7
                     +---+---+---+---+---+---+---+---+
                     | e | a |  len  | 0 | 0 |not| m |
                     +---+---+---+---+---+---+---+---+

         e, a, len -  Most significant nibble: (end-of-list bit, AND
                      bit, and length field), as defined for in the
                      numeric operator format.

         not - NOT bit.  If set, logical negation of operation.

         m -   Match bit.  If set, this is a bitwise match operation
               defined as "(data & value) == value"; if unset, (data &
               value) evaluates to TRUE if any of the bits in the value
               mask are set in the data.
```

But on the positive side, this case is now defined by RFC 8955. I will have to read and understand https://datatracker.ietf.org/doc/html/rfc8955#appendix-B - the difference between the two RFC, and implement it .. not as fast to do.

```
4.2.2.9.  Type 9 - TCP Flags

   Encoding: <type (1 octet), [bitmask_op, bitmask]+>

   Defines a list of {bitmask_op, bitmask} pairs used to match TCP
   control bits (see also Section 3.1 of [RFC0793]).

   This component uses the Bitmask Operator (bitmask_op) described in
   Section 4.2.1.2.  Type 9 component bitmasks MUST be encoded as 1- or
   2-octet bitmask (bitmask_op len=00 or len=01).

   When a single octet (bitmask_op len=00) is specified, it matches
   octet 14 of the TCP header (see also Section 3.1 of [RFC0793]), which
   contains the TCP control bits.  When a 2-octet (bitmask_op len=01)
   encoding is used, it matches octets 13 and 14 of the TCP header with
   the data offset (leftmost 4 bits) always treated as 0.

   In case of the presence of the TCP flags component, only TCP packets
   can match the entire Flow Specification.  The TCP flags component, if
   present, never matches when the packet's IP protocol value is not 6
   (TCP), if the packet is fragmented and this is not the first
   fragment, or if the system is unable to locate the transport header.
   Different implementations may or may not be able to decode the
   transport header in the presence of IP options or Encapsulating
   Security Payload (ESP) NULL [RFC4303] encryption.

```

🤦 I misread the RFC and will add the change, the implementation was never correct for the high bits but I never realised as they were not available.

Purely speculative fix - but may work.

Thanks for the quick response. Checked the fix and NS is working now.  Listed a few check below, will not list all checks. 
test results >> reactor       loaded new configuration successfully
 
tcp-flags [cwr];
tcp-flags [ece];
tcp-flags [ns];
tcp-flags [ACK SYN&!=ECE&=NS];
tcp-flags [NS SYN&!=ece&=CWR];



slight change to the fix but it should be it. I can not say if the packet generated is correct (it should) but I have no way to check, so closed.

Thanks Thomas

Hi Thomas, I was using the master build  and the tcp flags fix is good but when I switched to 4.2 6bd3dfa  build, flag NS returns 
error message: ord() expected a character, but string of length 2 found

CWR and ECE are good

> 

How did you tested it? 
I tried to announce a flowspec rule with discard action, but:
ExaBGP returns an error (see ExaBGP's logs for more information)
use help for a list of available commands

```
exabgp -v
ExaBGP : 4.2.13
Python : 3.7.3 (default, Jan 22 2021, 20:04:44)  [GCC 8.3.0]
Uname  : Linux punisher 5.10.0-0.bpo.9-amd64 #1 SMP Debian 5.10.70-1~bpo10+1 (2021-10-10) x86_64
Root   : /usr/local
```



Sorry, but you are hijacking a closed thread to speak about something else. You need to open a new issue if you want me to look into something new.

You also did not provide enough information for me to help: You have not run exabgp with -d and provided full logs just the version. I can not analyse and figure out what could have gone wrong from “it is broken”.

And your comment on how I tested it is either a bit patronising or a bad wording for asking how to use it. As it is in production with some DDOS vendors, one of which I use in my network now, I guess i can safely say: it is tested in prod. For how to use it, there is examples in the etc folder.

For real help please open a new ticket, with the normally requested information.


If you want to use one of the new flags, you need to use master atm, as it is where the feature is available. And I have no idea if any vendor support them or not.