BGP-LS Flaps with error "can not decode update message of type 2"

<!---
Hello,

We are sorry that you are experiencing an issue with ExaBGP.

Before opening this issue could you please:
 - make sure the problem was not already reported to avoid duplicates.
 - check if the problem is still present on the latest version
   using the 3.4 or master branch (if you know what it means)
   alternatively the latest release (3.4 or 4.0)

For us to help you the outpout of exabgp -d is often required.
Please use ``` for any copied output.
-->

##### Summary
<!---


-->
```
Hi I am new to ExaBGP. 
Was trying to establish a BGP-LS session with Cisco IOS XR 6.1.3 and it terminates the session with the error message 

 peer reset, message [notification sent (1,0)] error[Message header error / Unspecific / can not decode update message of type "2"]
```
##### OS
<!---
The exact OS would be appreciated (vendor and version)
(as OSes affect the way Python behave on some corner cases)
-->
```
Linux
```

<!--

-->
```
Linux ubuntu 4.18.0-21-generic #22~18.04.1-Ubuntu SMP Thu May 16 15:07:19 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
```

##### Version
<!--
Paste verbatim the output from “exabgp --version” between quotes below
-->
```
ExaBGP : 4.0.10-a8462350
Python : 2.7.15rc1 (default, Nov 12 2018, 14:31:15)  [GCC 7.3.0]
Uname  : Linux ubuntu 4.18.0-21-generic #22~18.04.1-Ubuntu SMP Thu May 16 15:07:19 UTC 2019 x86_64 
```

##### Installation
<!--

-->
```
pip

```

##### Environment 
<!--
Paste verbatim the output from “exabgp --di” (let us know if the output is empty) between quotes below
You can also use gist.github.com links for larger files 
-->

```

```

##### Configuration
<!--- 



-->
```
process announce-routes {
    run python /home/nehru/announce2.py;
    encoder json;
}
process recieve-routes {
    run python /home/nehru/recieve.py;
    encoder json;
}
neighbor 10.10.10.105 {                 # Remote neighbor to peer with
    router-id 10.10.10.16;              # Our local router-id
    local-address 10.10.10.16;          # Our local update-source
    local-as 65000;                    # Our local AS
    peer-as 1;                     # Peer's AS
    family{ 
        bgp-ls bgp-ls;
    }
api {
        processes [announce-routes];
    }
api receive {
        processes [recieve-routes];
        receive {
            parsed;
            update;
        }
    }
}

```

##### Program output
<!-- 


-->
```
 exabgp conf.ini --debug
07:54:34 | 5124   | welcome       | Thank you for using ExaBGP
07:54:34 | 5124   | version       | 4.0.10-a8462350
07:54:34 | 5124   | interpreter   | 2.7.15rc1 (default, Nov 12 2018, 14:31:15)  [GCC 7.3.0]
07:54:34 | 5124   | os            | Linux ubuntu 4.18.0-21-generic #22~18.04.1-Ubuntu SMP Thu May 16 15:07:19 UTC 2019 x86_64
07:54:34 | 5124   | installation  | /home/nehru/.local
07:54:34 | 5124   | advice        | environment file missing
07:54:34 | 5124   | advice        | generate it using "exabgp --fi > /home/nehru/.local/etc/exabgp/exabgp.env"
07:54:34 | 5124   | cli           | could not find the named pipes (exabgp.in and exabgp.out) required for the cli
07:54:34 | 5124   | cli           | we scanned the following folders (the number is your PID):
07:54:34 | 5124   | cli control   |  - /run/exabgp/
07:54:34 | 5124   | cli control   |  - /run/1000/
07:54:34 | 5124   | cli control   |  - /run/
07:54:34 | 5124   | cli control   |  - /var/run/exabgp/
07:54:34 | 5124   | cli control   |  - /var/run/1000/
07:54:34 | 5124   | cli control   |  - /var/run/
07:54:34 | 5124   | cli control   |  - /home/nehru/.local/run/exabgp/
07:54:34 | 5124   | cli control   |  - /home/nehru/.local/run/1000/
07:54:34 | 5124   | cli control   |  - /home/nehru/.local/run/
07:54:34 | 5124   | cli control   |  - /home/nehru/.local/var/run/exabgp/
07:54:34 | 5124   | cli control   |  - /home/nehru/.local/var/run/1000/
07:54:34 | 5124   | cli control   |  - /home/nehru/.local/var/run/
07:54:34 | 5124   | cli control   | please make them in one of the folder with the following commands:
07:54:34 | 5124   | cli control   | > mkfifo /home/nehru/run/exabgp.{in,out}
07:54:34 | 5124   | cli control   | > chmod 600 /home/nehru/run/exabgp.{in,out}
07:54:34 | 5124   | cli control   | > chown 1000:1000 /home/nehru/run/exabgp.{in,out}
07:54:34 | 5124   | configuration | performing reload of exabgp 4.0.10-a8462350
07:54:34 | 5124   | configuration | > process          | 'announce-routes'
07:54:34 | 5124   | configuration | . run              | 'python' '/home/nehru/announce2.py'
07:54:34 | 5124   | configuration | . encoder          | 'json'
07:54:34 | 5124   | configuration | < process          | 
07:54:34 | 5124   | configuration | > process          | 'recieve-routes'
07:54:34 | 5124   | configuration | . run              | 'python' '/home/nehru/recieve.py'
07:54:34 | 5124   | configuration | . encoder          | 'json'
07:54:34 | 5124   | configuration | < process          | 
07:54:34 | 5124   | configuration | > neighbor         | '10.10.10.105'
07:54:34 | 5124   | configuration | . router-id        | '10.10.10.16'
07:54:34 | 5124   | configuration | . local-address    | '10.10.10.16'
07:54:34 | 5124   | configuration | . local-as         | '65000'
07:54:34 | 5124   | configuration | . peer-as          | '1'
07:54:34 | 5124   | configuration | > family           | 
07:54:34 | 5124   | configuration | . bgp-ls           | 'bgp-ls'
07:54:34 | 5124   | configuration | < family           | 
07:54:34 | 5124   | configuration | > api              | 
07:54:34 | 5124   | configuration | . processes        | '[' 'announce-routes' ']'
07:54:34 | 5124   | configuration | < api              | 
07:54:34 | 5124   | configuration | > api              | 'receive'
07:54:34 | 5124   | configuration | . processes        | '[' 'recieve-routes' ']'
07:54:34 | 5124   | configuration | > receive          | 
07:54:34 | 5124   | configuration | . parsed           | 
07:54:34 | 5124   | configuration | . update           | 
07:54:34 | 5124   | configuration | < receive          | 
07:54:34 | 5124   | configuration | < api              | 
07:54:34 | 5124   | configuration | < neighbor         | 
07:54:34 | 5124   | reactor       | new peer: neighbor 10.10.10.105 local-ip 10.10.10.16 local-as 65000 peer-as 1 router-id 10.10.10.16 family-allowed in-open
07:54:34 | 5124   | reactor       | loaded new configuration successfully
07:54:34 | 5124   | process       | forked process recieve-routes
07:54:34 | 5124   | process       | forked process announce-routes
07:54:34 | 5124   | reactor       | initialising connection to peer-1
07:54:34 | 5124   | outgoing-1    | attempting connection to 10.10.10.105:179
07:54:34 | 5124   | outgoing-1    | sending TCP payload (  49) FFFF FFFF FFFF FFFF FFFF FFFF FFFF FFFF 0031 0104 FDE8 00B4 0A0A 0A10 1402 0601 0440 0400 4702 0206 0002 0641 0400 00FD E8
07:54:34 | 5124   | outgoing-1    | >> OPEN version=4 asn=65000 hold_time=180 router_id=10.10.10.16 capabilities=[Multiprotocol(bgp-ls bgp-ls), Extended Message(65535), ASN4(65000)]
07:54:34 | 5124   | ka-outgoing-1 | receive-timer 60 second(s) left
07:54:34 | 5124   | outgoing-1    | received TCP payload (  19) FFFF FFFF FFFF FFFF FFFF FFFF FFFF FFFF 0035 01
07:54:34 | 5124   | outgoing-1    | received TCP payload (  34) 0400 0100 B4C0 A800 0418 0206 0104 4004 0047 0202 8000 0202 0200 0206 4104 0000 0001
07:54:34 | 5124   | outgoing-1    | << message of type OPEN
07:54:34 | 5124   | outgoing-1    | << OPEN version=4 asn=1 hold_time=180 router_id=192.168.0.4 capabilities=[Multiprotocol(bgp-ls bgp-ls), Route Refresh, ASN4(1), Route Refresh]
07:54:34 | 5124   | outgoing-1    | sending TCP payload (  19) FFFF FFFF FFFF FFFF FFFF FFFF FFFF FFFF 0013 04
07:54:34 | 5124   | outgoing-1    | >> KEEPALIVE (OPENCONFIRM)
07:54:34 | 5124   | outgoing-1    | received TCP payload (  19) FFFF FFFF FFFF FFFF FFFF FFFF FFFF FFFF 0013 04
07:54:34 | 5124   | outgoing-1    | << message of type KEEPALIVE
07:54:34 | 5124   | ka-outgoing-1 | receive-timer 180 second(s) left
07:54:34 | 5124   | reactor       | connected to peer-1 with outgoing-1 10.10.10.16-10.10.10.105
07:54:34 | 5124   | outgoing-1    | sending TCP payload (  30) FFFF FFFF FFFF FFFF FFFF FFFF FFFF FFFF 001E 0200 0000 0790 0F00 0340 0447
07:54:34 | 5124   | outgoing-1    | >> EOR bgp-ls bgp-ls
07:54:34 | 5124   | peer-1        | >> EOR(s)
07:54:35 | 5124   | ka-outgoing-1 | receive-timer 179 second(s) left
07:54:35 | 5124   | ka-outgoing-1 | send-timer 59 second(s) left
07:54:36 | 5124   | ka-outgoing-1 | receive-timer 178 second(s) left
07:54:36 | 5124   | ka-outgoing-1 | send-timer 58 second(s) left
07:54:37 | 5124   | ka-outgoing-1 | receive-timer 177 second(s) left
07:54:37 | 5124   | ka-outgoing-1 | send-timer 57 second(s) left
07:54:38 | 5124   | ka-outgoing-1 | receive-timer 176 second(s) left
07:54:38 | 5124   | ka-outgoing-1 | send-timer 56 second(s) left
07:54:39 | 5124   | ka-outgoing-1 | receive-timer 175 second(s) left
07:54:39 | 5124   | ka-outgoing-1 | send-timer 55 second(s) left
07:54:39 | 5124   | process       | command from process announce-routes : announce route 100.10.0.0/24 next-hop self 
07:54:39 | 5124   | reactor       | async | announce-routes | announce route 100.10.0.0/24 next-hop self
07:54:39 | 5124   | configuration | . route            | '100.10.0.0/24' 'next-hop' 'self'
07:54:39 | 5124   | configuration | the route family is not configured on neighbor
07:54:39 | 5124   | api           | route added to neighbor 10.10.10.105 local-ip 10.10.10.16 local-as 65000 peer-as 1 router-id 10.10.10.16 family-allowed in-open : 100.10.0.0/24 next-hop self
07:54:39 | 5124   | process       | responding to announce-routes : done
07:54:39 | 5124   | outgoing-1    | received TCP payload (  19) FFFF FFFF FFFF FFFF FFFF FFFF FFFF FFFF 01B6 02
07:54:39 | 5124   | outgoing-1    | received TCP payload ( 419) 0000 019F 900E 0183 4004 4704 0A0A 0A69 0000 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0005 0108 0001 0201 0900 0520 C0A8 000A 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0401 0800 0102 0109 0005 20C0 A800 0A00 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0004 0108 0001 0201 0900 0520 C0A8 0009 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0501 0800 0102 0109 0005 20C0 A800 0800 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0004 0108 0001 0201 0900 051E 0A00 0038 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0501 0800 0102 0109 0005 1E0A 0000 3440 0101 0040 0206 0201 0000 0001 801D 0804 8300 0400 0000 04
07:54:39 | 5124   | outgoing-1    | << message of type UPDATE
07:54:39 | 5124   | parser        | parsing UPDATE ( 419) 0000 019F 900E 0183 4004 4704 0A0A 0A69 0000 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0005 0108 0001 0201 0900 0520 C0A8 000A 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0401 0800 0102 0109 0005 20C0 A800 0A00 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0004 0108 0001 0201 0900 0520 C0A8 0009 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0501 0800 0102 0109 0005 20C0 A800 0800 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0004 0108 0001 0201 0900 051E 0A00 0038 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0501 0800 0102 0109 0005 1E0A 0000 3440 0101 0040 0206 0201 0000 0001 801D 0804 8300 0400 0000 04
07:54:39 | 5124   | parser        | withdrawn NLRI none
07:54:39 | 5124   | parser        | attribute mp-reach-nlri      flag 0x90 type 0x0e len 0x183 payload 4004 4704 0A0A 0A69 0000 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0005 0108 0001 0201 0900 0520 C0A8 000A 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0401 0800 0102 0109 0005 20C0 A800 0A00 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0004 0108 0001 0201 0900 0520 C0A8 0009 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0501 0800 0102 0109 0005 20C0 A800 0800 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0004 0108 0001 0201 0900 051E 0A00 0038 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0501 0800 0102 0109 0005 1E0A 0000 34
07:54:39 | 5124   | parser        | NLRI      bgp-ls bgp-ls      without path-information     payload 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0501 0800 0102 0109 0005 20C0 A800 0A00 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0004 0108 0001 0201 0900 0520 C0A8 000A 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0401 0800 0102 0109 0005 20C0 A800 0900 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0005 0108 0001 0201 0900 0520 C0A8 0008 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0401 0800 0102 0109 0005 1E0A 0000 3800 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0005 0108 0001 0201 0900 051E 0A00 0034
07:54:39 | 5124   | parser        | NLRI      bgp-ls bgp-ls      without path-information     payload 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0401 0800 0102 0109 0005 20C0 A800 0A00 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0004 0108 0001 0201 0900 0520 C0A8 0009 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0501 0800 0102 0109 0005 20C0 A800 0800 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0004 0108 0001 0201 0900 051E 0A00 0038 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0501 0800 0102 0109 0005 1E0A 0000 34
07:54:39 | 5124   | parser        | NLRI      bgp-ls bgp-ls      without path-information     payload 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0401 0800 0102 0109 0005 20C0 A800 0900 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0005 0108 0001 0201 0900 0520 C0A8 0008 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0401 0800 0102 0109 0005 1E0A 0000 3800 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0005 0108 0001 0201 0900 051E 0A00 0034
07:54:39 | 5124   | parser        | NLRI      bgp-ls bgp-ls      without path-information     payload 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0501 0800 0102 0109 0005 20C0 A800 0800 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0004 0108 0001 0201 0900 051E 0A00 0038 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0501 0800 0102 0109 0005 1E0A 0000 34
07:54:39 | 5124   | parser        | NLRI      bgp-ls bgp-ls      without path-information     payload 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0401 0800 0102 0109 0005 1E0A 0000 3800 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0005 0108 0001 0201 0900 051E 0A00 0034
07:54:39 | 5124   | parser        | NLRI      bgp-ls bgp-ls      without path-information     payload 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0501 0800 0102 0109 0005 1E0A 0000 34
07:54:39 | 5124   | parser        | attribute origin             flag 0x40 type 0x01 len 0x01 payload 00
07:54:39 | 5124   | parser        | attribute as-path            flag 0x40 type 0x02 len 0x06 payload 0201 0000 0001
07:54:39 | 5124   | parser        | attribute bgp-ls             flag 0x80 type 0x1d len 0x08 payload 0483 0004 0000 0004
07:54:39 | 5124   | parser        | announced NLRI none
{ "exabgp": "4.0.1", "time": 1560178479.78, "host" : "ubuntu", "pid" : 5124, "ppid" : 3905, "counter": 1, "type": "update", "neighbor": { "address": { "local": "10.10.10.16", "peer": "10.10.10.105" }, "asn": { "local": 65000, "peer": 1 } , "direction": "receive", "message": { "update": { "attribute": { "origin": "igp", "as-path": [ 1 ], "confederation-path": [], "bgp-ls": { "prefix-metric": 4 } }, "announce": { "bgp-ls bgp-ls": { "10.10.10.105": [ { "ls-nlri-type": 3, "l3-routing-topology": 0, "protocol-id": 3, "node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "router-id": "192.168.0.5" }, "ip-reachability-tlv": "192.168.0.10", "ip-reach-prefix": "192.168.0.10/32", "nexthop": "10.10.10.105", "ospf-route-type": 2 }, { "ls-nlri-type": 3, "l3-routing-topology": 0, "protocol-id": 3, "node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "router-id": "192.168.0.4" }, "ip-reachability-tlv": "192.168.0.10", "ip-reach-prefix": "192.168.0.10/32", "nexthop": "10.10.10.105", "ospf-route-type": 2 }, { "ls-nlri-type": 3, "l3-routing-topology": 0, "protocol-id": 3, "node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "router-id": "192.168.0.4" }, "ip-reachability-tlv": "192.168.0.9", "ip-reach-prefix": "192.168.0.9/32", "nexthop": "10.10.10.105", "ospf-route-type": 2 }, { "ls-nlri-type": 3, "l3-routing-topology": 0, "protocol-id": 3, "node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "router-id": "192.168.0.5" }, "ip-reachability-tlv": "192.168.0.8", "ip-reach-prefix": "192.168.0.8/32", "nexthop": "10.10.10.105", "ospf-route-type": 2 }, { "ls-nlri-type": 3, "l3-routing-topology": 0, "protocol-id": 3, "node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "router-id": "192.168.0.4" }, "ip-reachability-tlv": "10.0.0.56", "ip-reach-prefix": "10.0.0.56/30", "nexthop": "10.10.10.105", "ospf-route-type": 2 }, { "ls-nlri-type": 3, "l3-routing-topology": 0, "protocol-id": 3, "node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "router-id": "192.168.0.5" }, "ip-reachability-tlv": "10.0.0.52", "ip-reach-prefix": "10.0.0.52/30", "nexthop": "10.10.10.105", "ospf-route-type": 2 } ] } } } } } }
07:54:39 | 5124   | peer-1        | << UPDATE #1
07:54:39 | 5124   | peer-1        |    UPDATE #1 nlri  (   2) { "ls-nlri-type": 3, "l3-routing-topology": 0, "protocol-id": 3, "node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "router-id": "192.168.0.5" }, "ip-reachability-tlv": "192.168.0.10", "ip-reach-prefix": "192.168.0.10/32", "nexthop": "10.10.10.105", "ospf-route-type": 2 }
07:54:39 | 5124   | peer-1        |    UPDATE #1 nlri  (   2) { "ls-nlri-type": 3, "l3-routing-topology": 0, "protocol-id": 3, "node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "router-id": "192.168.0.4" }, "ip-reachability-tlv": "192.168.0.10", "ip-reach-prefix": "192.168.0.10/32", "nexthop": "10.10.10.105", "ospf-route-type": 2 }
07:54:39 | 5124   | peer-1        |    UPDATE #1 nlri  (   2) { "ls-nlri-type": 3, "l3-routing-topology": 0, "protocol-id": 3, "node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "router-id": "192.168.0.4" }, "ip-reachability-tlv": "192.168.0.9", "ip-reach-prefix": "192.168.0.9/32", "nexthop": "10.10.10.105", "ospf-route-type": 2 }
07:54:39 | 5124   | peer-1        |    UPDATE #1 nlri  (   2) { "ls-nlri-type": 3, "l3-routing-topology": 0, "protocol-id": 3, "node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "router-id": "192.168.0.5" }, "ip-reachability-tlv": "192.168.0.8", "ip-reach-prefix": "192.168.0.8/32", "nexthop": "10.10.10.105", "ospf-route-type": 2 }
07:54:39 | 5124   | peer-1        |    UPDATE #1 nlri  (   2) { "ls-nlri-type": 3, "l3-routing-topology": 0, "protocol-id": 3, "node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "router-id": "192.168.0.4" }, "ip-reachability-tlv": "10.0.0.56", "ip-reach-prefix": "10.0.0.56/30", "nexthop": "10.10.10.105", "ospf-route-type": 2 }
07:54:39 | 5124   | peer-1        |    UPDATE #1 nlri  (   2) { "ls-nlri-type": 3, "l3-routing-topology": 0, "protocol-id": 3, "node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "router-id": "192.168.0.5" }, "ip-reachability-tlv": "10.0.0.52", "ip-reach-prefix": "10.0.0.52/30", "nexthop": "10.10.10.105", "ospf-route-type": 2 }
07:54:39 | 5124   | outgoing-1    | received TCP payload (  19) FFFF FFFF FFFF FFFF FFFF FFFF FFFF FFFF 00C2 02
07:54:39 | 5124   | outgoing-1    | received TCP payload ( 175) 0000 00AB 900E 0072 4004 4704 0A0A 0A69 0000 0200 6503 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0001 0101 0024 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0008 C0A8 0001 0A00 0009 0103 0004 0A00 0009 0104 0004 0A00 0009 4001 0100 4002 0602 0100 0000 0180 1D25 0447 0003 0000 0104 4C00 0BE0 0000 00C0 A800 0300 5DC2 044C 000B 6000 0000 C0A8 0003 005D C3
07:54:39 | 5124   | outgoing-1    | << message of type UPDATE
07:54:39 | 5124   | parser        | parsing UPDATE ( 175) 0000 00AB 900E 0072 4004 4704 0A0A 0A69 0000 0200 6503 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0001 0101 0024 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0008 C0A8 0001 0A00 0009 0103 0004 0A00 0009 0104 0004 0A00 0009 4001 0100 4002 0602 0100 0000 0180 1D25 0447 0003 0000 0104 4C00 0BE0 0000 00C0 A800 0300 5DC2 044C 000B 6000 0000 C0A8 0003 005D C3
07:54:39 | 5124   | parser        | withdrawn NLRI none
07:54:39 | 5124   | parser        | attribute mp-reach-nlri      flag 0x90 type 0x0e len 0x72 payload 4004 4704 0A0A 0A69 0000 0200 6503 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0001 0101 0024 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0008 C0A8 0001 0A00 0009 0103 0004 0A00 0009 0104 0004 0A00 0009
07:54:39 | 5124   | parser        | NLRI      bgp-ls bgp-ls      without path-information     payload 0002 0065 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0101 0100 2402 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 08C0 A800 010A 0000 0901 0300 040A 0000 0901 0400 040A 0000 09
07:54:39 | 5124   | parser        | attribute origin             flag 0x40 type 0x01 len 0x01 payload 00
07:54:39 | 5124   | parser        | attribute as-path            flag 0x40 type 0x02 len 0x06 payload 0201 0000 0001
07:54:39 | 5124   | parser        | attribute bgp-ls             flag 0x80 type 0x1d len 0x25 payload 0447 0003 0000 0104 4C00 0BE0 0000 00C0 A800 0300 5DC2 044C 000B 6000 0000 C0A8 0003 005D C3
07:54:39 | 5124   | outgoing-1    | could not decode message "2"
07:54:39 | 5124   | outgoing-1    | local variable 'sid' referenced before assignment
07:54:39 | 5124   | outgoing-1    | Traceback (most recent call last):
07:54:39 | 5124   | outgoing-1    |   File "/home/nehru/.local/lib/python2.7/site-packages/exabgp/reactor/protocol.py", line 226, in read_message
07:54:39 | 5124   | outgoing-1    |     message = Message.unpack(msg_id,body,self.negotiated)
07:54:39 | 5124   | outgoing-1    |   File "/home/nehru/.local/lib/python2.7/site-packages/exabgp/bgp/message/message.py", line 187, in unpack
07:54:39 | 5124   | outgoing-1    |     return cls.klass(message).unpack_message(data,negotiated)
07:54:39 | 5124   | outgoing-1    |   File "/home/nehru/.local/lib/python2.7/site-packages/exabgp/bgp/message/update/__init__.py", line 224, in unpack_message
07:54:39 | 5124   | outgoing-1    |     attributes = Attributes.unpack(_attributes,negotiated)
07:54:39 | 5124   | outgoing-1    |   File "/home/nehru/.local/lib/python2.7/site-packages/exabgp/bgp/message/update/attribute/attributes.py", line 292, in unpack
07:54:39 | 5124   | outgoing-1    |     attributes = cls().parse(data,negotiated)
07:54:39 | 5124   | outgoing-1    |   File "/home/nehru/.local/lib/python2.7/site-packages/exabgp/bgp/message/update/attribute/attributes.py", line 384, in parse
07:54:39 | 5124   | outgoing-1    |     return self.parse(left,negotiated)
07:54:39 | 5124   | outgoing-1    |   File "/home/nehru/.local/lib/python2.7/site-packages/exabgp/bgp/message/update/attribute/attributes.py", line 384, in parse
07:54:39 | 5124   | outgoing-1    |     return self.parse(left,negotiated)
07:54:39 | 5124   | outgoing-1    |   File "/home/nehru/.local/lib/python2.7/site-packages/exabgp/bgp/message/update/attribute/attributes.py", line 384, in parse
07:54:39 | 5124   | outgoing-1    |     return self.parse(left,negotiated)
07:54:39 | 5124   | outgoing-1    |   File "/home/nehru/.local/lib/python2.7/site-packages/exabgp/bgp/message/update/attribute/attributes.py", line 370, in parse
07:54:39 | 5124   | outgoing-1    |     decoded = Attribute.unpack(aid,flag,attribute,negotiated)
07:54:39 | 5124   | outgoing-1    |   File "/home/nehru/.local/lib/python2.7/site-packages/exabgp/bgp/message/update/attribute/attribute.py", line 282, in unpack
07:54:39 | 5124   | outgoing-1    |     instance = cls.klass(attribute_id,flag).unpack(data,negotiated)
07:54:39 | 5124   | outgoing-1    |   File "/home/nehru/.local/lib/python2.7/site-packages/exabgp/bgp/message/update/attribute/bgpls/linkstate.py", line 56, in unpack
07:54:39 | 5124   | outgoing-1    |     klass = cls.registered_lsids[scode].unpack(data[4:length+4],length)
07:54:39 | 5124   | outgoing-1    |   File "/home/nehru/.local/lib/python2.7/site-packages/exabgp/bgp/message/update/attribute/bgpls/link/sradjlan.py", line 79, in unpack
07:54:39 | 5124   | outgoing-1    |     sids.append(sid)
07:54:39 | 5124   | outgoing-1    | UnboundLocalError: local variable 'sid' referenced before assignment
07:54:39 | 5124   | outgoing-1    |         
07:54:39 | 5124   | outgoing-1    | sending TCP payload (  62) FFFF FFFF FFFF FFFF FFFF FFFF FFFF FFFF 003E 0301 0063 616E 206E 6F74 2064 6563 6F64 6520 7570 6461 7465 206D 6573 7361 6765 206F 6620 7479 7065 2022 3222
07:54:39 | 5124   | outgoing-1    | >> NOTIFICATION (1,0,"can not decode update message of type "2"")
07:54:39 | 5124   | outgoing-1    | peer reset, message [notification sent (1,0)] error[Message header error / Unspecific / can not decode update message of type "2"]
07:54:39 | 5124   | outgoing-1    | outgoing-1 10.10.10.16-10.10.10.105, closing connection
```

##### Steps to reproduce
<!--
If the issue is intermittent please provide how it can be reproduced
-->
```

```

##### Importance
<!--
Please let us know if the issue is affecting you in a production environment
-->
```

```


@Mosesnehru  it looks like a mistake while parsing the data - please could you re-check with master ?

Hi Guys,

I tested and getting the same error.

nehru@ubuntu:/opt/exabgp$ sudo git pull 
remote: Enumerating objects: 39, done.
remote: Counting objects: 100% (39/39), done.
remote: Compressing objects: 100% (8/8), done.
remote: Total 25 (delta 19), reused 22 (delta 16), pack-reused 0
Unpacking objects: 100% (25/25), done.
From https://github.com/Exa-Networks/exabgp
   919fc075..a2b9e005  master     -> origin/master
Updating 919fc075..a2b9e005
Fast-forward
 README.md                                                      | 10 ++++------
 lib/exabgp/bgp/message/update/attribute/bgpls/link/sradjlan.py |  4 ++--
 qa/tests/decode_test.py                                        |  1 +
 3 files changed, 7 insertions(+), 8 deletions(-)


nehru@ubuntu:/opt/exabgp$ git branch 
* master
nehru@ubuntu:/opt/exabgp$ 


<snip>
21:03:27 | 13588  | parser        | attribute as-path            flag 0x40 type 0x02 len 0x06 payload 0201 0000 0001
21:03:27 | 13588  | parser        | attribute bgp-ls             flag 0x80 type 0x1d len 0x25 payload 0447 0003 0000 0104 4C00 0BE0 0000 00C0 A800 0300 5DC2 044C 000B 6000 0000 C0A8 0003 005D C3
21:03:27 | 13588  | outgoing-1    | could not decode message "2"
21:03:27 | 13588  | outgoing-1    | local variable 'sid' referenced before assignment
21:03:27 | 13588  | outgoing-1    | Traceback (most recent call last):
21:03:27 | 13588  | outgoing-1    |   File "/home/nehru/.local/lib/python2.7/site-packages/exabgp/reactor/protocol.py", line 226, in read_message
21:03:27 | 13588  | outgoing-1    |     message = Message.unpack(msg_id,body,self.negotiated)
21:03:27 | 13588  | outgoing-1    |   File "/home/nehru/.local/lib/python2.7/site-packages/exabgp/bgp/message/message.py", line 187, in unpack
21:03:27 | 13588  | outgoing-1    |     return cls.klass(message).unpack_message(data,negotiated)
21:03:27 | 13588  | outgoing-1    |   File "/home/nehru/.local/lib/python2.7/site-packages/exabgp/bgp/message/update/__init__.py", line 224, in unpack_message
21:03:27 | 13588  | outgoing-1    |     attributes = Attributes.unpack(_attributes,negotiated)
21:03:27 | 13588  | outgoing-1    |   File "/home/nehru/.local/lib/python2.7/site-packages/exabgp/bgp/message/update/attribute/attributes.py", line 292, in unpack
21:03:27 | 13588  | outgoing-1    |     attributes = cls().parse(data,negotiated)
21:03:27 | 13588  | outgoing-1    |   File "/home/nehru/.local/lib/python2.7/site-packages/exabgp/bgp/message/update/attribute/attributes.py", line 384, in parse
21:03:27 | 13588  | outgoing-1    |     return self.parse(left,negotiated)
21:03:27 | 13588  | outgoing-1    |   File "/home/nehru/.local/lib/python2.7/site-packages/exabgp/bgp/message/update/attribute/attributes.py", line 384, in parse
21:03:27 | 13588  | outgoing-1    |     return self.parse(left,negotiated)
21:03:27 | 13588  | outgoing-1    |   File "/home/nehru/.local/lib/python2.7/site-packages/exabgp/bgp/message/update/attribute/attributes.py", line 384, in parse
21:03:27 | 13588  | outgoing-1    |     return self.parse(left,negotiated)
21:03:27 | 13588  | outgoing-1    |   File "/home/nehru/.local/lib/python2.7/site-packages/exabgp/bgp/message/update/attribute/attributes.py", line 370, in parse
21:03:27 | 13588  | outgoing-1    |     decoded = Attribute.unpack(aid,flag,attribute,negotiated)
21:03:27 | 13588  | outgoing-1    |   File "/home/nehru/.local/lib/python2.7/site-packages/exabgp/bgp/message/update/attribute/attribute.py", line 282, in unpack
21:03:27 | 13588  | outgoing-1    |     instance = cls.klass(attribute_id,flag).unpack(data,negotiated)
21:03:27 | 13588  | outgoing-1    |   File "/home/nehru/.local/lib/python2.7/site-packages/exabgp/bgp/message/update/attribute/bgpls/linkstate.py", line 56, in unpack
21:03:27 | 13588  | outgoing-1    |     klass = cls.registered_lsids[scode].unpack(data[4:length+4],length)
21:03:27 | 13588  | outgoing-1    |   File "/home/nehru/.local/lib/python2.7/site-packages/exabgp/bgp/message/update/attribute/bgpls/link/sradjlan.py", line 79, in unpack
21:03:27 | 13588  | outgoing-1    |     sids.append(sid)
21:03:27 | 13588  | outgoing-1    | UnboundLocalError: local variable 'sid' referenced before assignment
21:03:27 | 13588  | outgoing-1    |         
21:03:27 | 13588  | outgoing-1    | sending TCP payload (  62) FFFF FFFF FFFF FFFF FFFF FFFF FFFF FFFF 003E 0301 0063 616E 206E 6F74 2064 6563 6F64 6520 7570 6461 7465 206D 6573 7361 6765 206F 6620 7479 7065 2022 3222
21:03:27 | 13588  | outgoing-1    | >> NOTIFICATION (1,0,"can not decode update message of type "2"")
21:03:27 | 13588  | outgoing-1    | peer reset, message [notification sent (1,0)] error[Message header error / Unspecific / can not decode update message of type "2"]
21:03:27 | 13588  | outgoing-1    | outgoing-1 10.10.10.11-10.10.10.105, closing connection
<snip>

BGP packets captured on the wire shows that the code is having issue in parsing the "Prefix Metric TLV""

RFC 7752
3.3.3.4.  Prefix Metric TLV

   The Prefix Metric TLV is an optional attribute and may only appear
   once.  If present, it carries the metric of the prefix as known in
   the IGP topology as described in Section 4 of [RFC5305] (and
   therefore represents the reachability cost to the prefix).  If not
   present, it means that the prefix is advertised without any
   reachability.

      0                   1                   2                   3
      0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1
     +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
     |              Type             |             Length            |
     +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
     |                            Metric                             |
     +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+

                    Figure 28: Prefix Metric TLV Format

   Length is 4.

Apparently the if conditions in sradjlan.py ( lines 71 - 79) are not matching for as it is defined for different TLV type.
![bgp_cap](https://user-images.githubusercontent.com/37202234/59323473-1c02ed80-8d1e-11e9-9a9d-82b8823861a1.png)
 

Thanks - I had not checked the RFC or tried to decode the provided UDPATE as there was a clear simple bug in the parsing. I will review the code. Thank you for digging the technical information :-)

but the horribly wrong JSON (which I will fix), I could decode the UPDATE in the initial report. On the second one, you did cut the log before the UPDATE data so I can not check but it looks like the TLV is different (1100 vs 1155) and therefore you may be hitting another bug. Can you pleas include the "parsing UPDATE" line with the full payload so I can have a look at it please ?

```
env exabgp.debug.pdb=1 ./sbin/exabgp -d xxxx --decode "0000 019F 900E 0183 4004 4704 0A0A 0A69 0000 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0005 0108 0001 0201 0900 0520 C0A8 000A 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0401 0800 0102 0109 0005 20C0 A800 0A00 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0004 0108 0001 0201 0900 0520 C0A8 0009 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0501 0800 0102 0109 0005 20C0 A800 0800 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0004 0108 0001 0201 0900 051E 0A00 0038 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0501 0800 0102 0109 0005 1E0A 0000 3440 0101 0040 0206 0201 0000 0001 801D 0804 8300 0400 0000 04"
08:24:36 | 63425  | welcome       | Thank you for using ExaBGP
08:24:36 | 63425  | version       | master-a2b9e0057d19c294b3e1b08750b797d2d34ab4d2
08:24:36 | 63425  | interpreter   | 3.7.3 (default, Mar 27 2019, 09:23:15)  [Clang 10.0.1 (clang-1001.0.46.3)]
08:24:36 | 63425  | os            | Darwin ptr-41.212.219.82.rev.exa.net.uk 18.5.0 Darwin Kernel Version 18.5.0: Mon Mar 11 20:40:32 PDT 2019; root:xnu-4903.251.3~3/RELEASE_X86_64 x86_64
08:24:36 | 63425  | installation  | /Users/thomas/Source/github/exabgp/thomas
08:24:36 | 63425  | advice        | environment file missing
08:24:36 | 63425  | advice        | generate it using "exabgp --fi > /Users/thomas/Source/github/exabgp/thomas/etc/exabgp/exabgp.env"
08:24:36 | 63425  | cli control   | named pipes for the cli are:
08:24:36 | 63425  | cli control   | to send commands  /Users/thomas/Source/github/exabgp/thomas/run/exabgp.in
08:24:36 | 63425  | cli control   | to read responses /Users/thomas/Source/github/exabgp/thomas/run/exabgp.out
08:24:36 | 63425  | configuration | performing reload of exabgp master-a2b9e0057d19c294b3e1b08750b797d2d34ab4d2
08:24:36 | 63425  | configuration | > neighbor         | '127.0.0.1'
08:24:36 | 63425  | configuration | . router-id        | '127.0.0.2'
08:24:36 | 63425  | configuration | . local-address    | '127.0.0.1'
08:24:36 | 63425  | configuration | . local-as         | '12345'
08:24:36 | 63425  | configuration | . peer-as          | '12345'
08:24:36 | 63425  | configuration | > capability       |
08:24:36 | 63425  | configuration | . nexthop          | 'true'
08:24:36 | 63425  | configuration | < capability       |
08:24:36 | 63425  | configuration | > family           |
08:24:36 | 63425  | configuration | . ipv4             | 'unicast'
08:24:36 | 63425  | configuration | . ipv4             | 'mpls-vpn'
08:24:36 | 63425  | configuration | . ipv6             | 'unicast'
08:24:36 | 63425  | configuration | . ipv6             | 'mpls-vpn'
08:24:36 | 63425  | configuration | . bgp-ls           | 'bgp-ls'
08:24:36 | 63425  | configuration | < family           |
08:24:36 | 63425  | configuration | > static           |
08:24:36 | 63425  | configuration | . route            | '153.153.153.153' 'next-hop' 'BAD:CAFE:BAD:CAFE:BAD:CAFE:BAD:CAFE'
08:24:36 | 63425  | configuration | . route            | 'DEAD:BEEF:DEAD:BEEF:DEAD:BEEF:DEAD:BEEF' 'next-hop' '170.170.170.170'
08:24:36 | 63425  | configuration | < static           |
08:24:36 | 63425  | configuration | < neighbor         |
08:24:36 | 63425  | parser        |
08:24:36 | 63425  | parser        | decoding routes in configuration
08:24:36 | 63425  | parser        | header missing, assuming this message is ONE update
08:24:36 | 63425  | parser        | parsing UPDATE ( 419) 0000 019F 900E 0183 4004 4704 0A0A 0A69 0000 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0005 0108 0001 0201 0900 0520 C0A8 000A 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0401 0800 0102 0109 0005 20C0 A800 0A00 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0004 0108 0001 0201 0900 0520 C0A8 0009 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0501 0800 0102 0109 0005 20C0 A800 0800 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0004 0108 0001 0201 0900 051E 0A00 0038 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0501 0800 0102 0109 0005 1E0A 0000 3440 0101 0040 0206 0201 0000 0001 801D 0804 8300 0400 0000 04
08:24:36 | 63425  | parser        | withdrawn NLRI none
08:24:36 | 63425  | parser        | attribute mp-reach-nlri      flag 0x90 type 0x0e len 0x183 payload 4004 4704 0A0A 0A69 0000 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0005 0108 0001 0201 0900 0520 C0A8 000A 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0401 0800 0102 0109 0005 20C0 A800 0A00 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0004 0108 0001 0201 0900 0520 C0A8 0009 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0501 0800 0102 0109 0005 20C0 A800 0800 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0004 0108 0001 0201 0900 051E 0A00 0038 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0501 0800 0102 0109 0005 1E0A 0000 34
08:24:36 | 63425  | parser        | NLRI      bgp-ls bgp-ls      without path-information     payload 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0501 0800 0102 0109 0005 20C0 A800 0A00 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0004 0108 0001 0201 0900 0520 C0A8 000A 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0401 0800 0102 0109 0005 20C0 A800 0900 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0005 0108 0001 0201 0900 0520 C0A8 0008 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0401 0800 0102 0109 0005 1E0A 0000 3800 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0005 0108 0001 0201 0900 051E 0A00 0034
08:24:36 | 63425  | parser        | NLRI      bgp-ls bgp-ls      without path-information     payload 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0401 0800 0102 0109 0005 20C0 A800 0A00 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0004 0108 0001 0201 0900 0520 C0A8 0009 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0501 0800 0102 0109 0005 20C0 A800 0800 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0004 0108 0001 0201 0900 051E 0A00 0038 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0501 0800 0102 0109 0005 1E0A 0000 34
08:24:36 | 63425  | parser        | NLRI      bgp-ls bgp-ls      without path-information     payload 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0401 0800 0102 0109 0005 20C0 A800 0900 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0005 0108 0001 0201 0900 0520 C0A8 0008 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0401 0800 0102 0109 0005 1E0A 0000 3800 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0005 0108 0001 0201 0900 051E 0A00 0034
08:24:36 | 63425  | parser        | NLRI      bgp-ls bgp-ls      without path-information     payload 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0501 0800 0102 0109 0005 20C0 A800 0800 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0004 0108 0001 0201 0900 051E 0A00 0038 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0501 0800 0102 0109 0005 1E0A 0000 34
08:24:36 | 63425  | parser        | NLRI      bgp-ls bgp-ls      without path-information     payload 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0401 0800 0102 0109 0005 1E0A 0000 3800 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0005 0108 0001 0201 0900 051E 0A00 0034
08:24:36 | 63425  | parser        | NLRI      bgp-ls bgp-ls      without path-information     payload 0003 003B 0300 0000 0000 0000 0001 0000 2002 0000 0400 0000 0102 0100 0400 0000 0002 0200 0400 0000 0102 0300 04C0 A800 0501 0800 0102 0109 0005 1E0A 0000 34
08:24:36 | 63425  | parser        | attribute origin             flag 0x40 type 0x01 len 0x01 payload 00
08:24:36 | 63425  | parser        | attribute as-path            flag 0x40 type 0x02 len 0x06 payload 0201 0000 0001
08:24:36 | 63425  | parser        | attribute bgp-ls             flag 0x80 type 0x1d len 0x08 payload 0483 0004 0000 0004
08:24:36 | 63425  | parser        | announced NLRI none
08:24:36 | 63425  | parser        |
08:24:36 | 63425  | parser        | decoded update 1 { "ls-nlri-type": 3, "l3-routing-topology": 0, "protocol-id": 3, "node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "router-id": "192.168.0.5" }, "ip-reachability-tlv": "192.168.0.10", "ip-reach-prefix": "192.168.0.10/32", "nexthop": "10.10.10.105", "ospf-route-type": 2 } origin igp as-path [ 1 ] bgp-ls Prefix metric: 4
08:24:36 | 63425  | parser        | decoded update 1 { "ls-nlri-type": 3, "l3-routing-topology": 0, "protocol-id": 3, "node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "router-id": "192.168.0.4" }, "ip-reachability-tlv": "192.168.0.10", "ip-reach-prefix": "192.168.0.10/32", "nexthop": "10.10.10.105", "ospf-route-type": 2 } origin igp as-path [ 1 ] bgp-ls Prefix metric: 4
08:24:36 | 63425  | parser        | decoded update 1 { "ls-nlri-type": 3, "l3-routing-topology": 0, "protocol-id": 3, "node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "router-id": "192.168.0.4" }, "ip-reachability-tlv": "192.168.0.9", "ip-reach-prefix": "192.168.0.9/32", "nexthop": "10.10.10.105", "ospf-route-type": 2 } origin igp as-path [ 1 ] bgp-ls Prefix metric: 4
08:24:36 | 63425  | parser        | decoded update 1 { "ls-nlri-type": 3, "l3-routing-topology": 0, "protocol-id": 3, "node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "router-id": "192.168.0.5" }, "ip-reachability-tlv": "192.168.0.8", "ip-reach-prefix": "192.168.0.8/32", "nexthop": "10.10.10.105", "ospf-route-type": 2 } origin igp as-path [ 1 ] bgp-ls Prefix metric: 4
08:24:36 | 63425  | parser        | decoded update 1 { "ls-nlri-type": 3, "l3-routing-topology": 0, "protocol-id": 3, "node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "router-id": "192.168.0.4" }, "ip-reachability-tlv": "10.0.0.56", "ip-reach-prefix": "10.0.0.56/30", "nexthop": "10.10.10.105", "ospf-route-type": 2 } origin igp as-path [ 1 ] bgp-ls Prefix metric: 4
08:24:36 | 63425  | parser        | decoded update 1 { "ls-nlri-type": 3, "l3-routing-topology": 0, "protocol-id": 3, "node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "router-id": "192.168.0.5" }, "ip-reachability-tlv": "10.0.0.52", "ip-reach-prefix": "10.0.0.52/30", "nexthop": "10.10.10.105", "ospf-route-type": 2 } origin igp as-path [ 1 ] bgp-ls Prefix metric: 4
08:24:36 | 63425  | parser        | update json { "exabgp": "4.0.1", "time": 1560324276.472063, "host" : "ptr-41.212.219.82.rev.exa.net.uk", "pid" : 63425, "ppid" : 21261, "counter": 1, "type": "update", "neighbor": { "address": { "local": "127.0.0.1", "peer": "127.0.0.1" }, "asn": { "local": 12345, "peer": 12345 } , "direction": "in", "message": { "update": { "attribute": { "origin": "igp", "as-path": [ 1 ], "confederation-path": [], "bgp-ls": { "prefix-metric": 4 } }, "announce": { "bgp-ls bgp-ls": { "10.10.10.105": [ { "ls-nlri-type": 3, "l3-routing-topology": 0, "protocol-id": 3, "node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "router-id": "192.168.0.5" }, "ip-reachability-tlv": "192.168.0.10", "ip-reach-prefix": "192.168.0.10/32", "nexthop": "10.10.10.105", "ospf-route-type": 2 }, { "ls-nlri-type": 3, "l3-routing-topology": 0, "protocol-id": 3, "node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "router-id": "192.168.0.4" }, "ip-reachability-tlv": "192.168.0.10", "ip-reach-prefix": "192.168.0.10/32", "nexthop": "10.10.10.105", "ospf-route-type": 2 }, { "ls-nlri-type": 3, "l3-routing-topology": 0, "protocol-id": 3, "node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "router-id": "192.168.0.4" }, "ip-reachability-tlv": "192.168.0.9", "ip-reach-prefix": "192.168.0.9/32", "nexthop": "10.10.10.105", "ospf-route-type": 2 }, { "ls-nlri-type": 3, "l3-routing-topology": 0, "protocol-id": 3, "node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "router-id": "192.168.0.5" }, "ip-reachability-tlv": "192.168.0.8", "ip-reach-prefix": "192.168.0.8/32", "nexthop": "10.10.10.105", "ospf-route-type": 2 }, { "ls-nlri-type": 3, "l3-routing-topology": 0, "protocol-id": 3, "node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "router-id": "192.168.0.4" }, "ip-reachability-tlv": "10.0.0.56", "ip-reach-prefix": "10.0.0.56/30", "nexthop": "10.10.10.105", "ospf-route-type": 2 }, { "ls-nlri-type": 3, "l3-routing-topology": 0, "protocol-id": 3, "node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "router-id": "192.168.0.5" }, "ip-reachability-tlv": "10.0.0.52", "ip-reach-prefix": "10.0.0.52/30", "nexthop": "10.10.10.105", "ospf-route-type": 2 } ] } } } } } }
```

Hi @thomas-mangin 
Thanks for looking into this issue.

Attached is the complete log.
[exa_bgp_ls_log.txt](https://github.com/Exa-Networks/exabgp/files/3280115/exa_bgp_ls_log.txt)


Following the patch, please note the "undecoded-sids" attribute, so the decoding is performed but at least it does not stop ExaBGP from working.

```
env exabgp.debug.pdb=1 ./sbin/exabgp -d xxxx --decode "0000 00AB 900E 0072 4004 4704 0A0A 0A69 0000 0200 6503 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0001 0101 0024 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0008 C0A8 0001 0A00 0009 0103 0004 0A00 0009 0104 0004 0A00 0009 4001 0100 4002 0602 0100 0000 0180 1D25 0447 0003 0000 0104 4C00 0BE0 0000 00C0 A800 0300 5DC2 044C 000B 6000 0000 C0A8 0003 005D C3"
[...]
10:01:03 | 68174  | parser        | update json { "exabgp": "4.0.1", "time": 1560330063.647941, "host" : "MacBook-Pro.local", "pid" : 68174, "ppid" : 21261, "counter": 1, "type": "update", "neighbor": { "address": { "local": "127.0.0.1", "peer": "127.0.0.1" }, "asn": { "local": 12345, "peer": 12345 } , "direction": "in", "message": { "update": { "attribute": { "origin": "igp", "as-path": [ 1 ], "confederation-path": [], "bgp-ls": { "igp-metric": 1, "sr-adj-lan-flags": {"F": 1, "B": 1, "V": 1, "L": 0, "S": 0, "P": 0, "RSV": 0}, "sids": [], "undecoded-sids": ["0xC2"], "sr-adj-lan-weight": 0, "sr-adj-lan-flags": {"F": 0, "B": 1, "V": 1, "L": 0, "S": 0, "P": 0, "RSV": 0}, "sids": [], "undecoded-sids": ["0xC3"], "sr-adj-lan-weight": 0 } }, "announce": { "bgp-ls bgp-ls": { "10.10.10.105": [ { "ls-nlri-type": 2, "l3-routing-topology": 0, "protocol-id": 3, "local-node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "router-id": "192.168.0.1" }, "remote-node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "designated-router-id": "10.0.0.9", "router-id": "192.168.0.1" }, "interface-address": { "interface-address": "10.0.0.9" }, "neighbor-address": { "neighbor-address": "10.0.0.9" } } ] } } } } } }
```

I would need to understand BGP-LS to correctly add the parsing of this SID. I assume this was excluded "in purpose" (I am not the author of that code but it has a comment indicating that only ISIS is supported).

@ruissalo the only place where this could still cause an issue is `SrIgpPrefixAttr` - how easy would it be to fix please ?

FYI - the same parsing error occurs in sradj.py.
Complete log attached.
[exa_bgp_ls_log2.txt](https://github.com/Exa-Networks/exabgp/files/3281516/exa_bgp_ls_log2.txt)


06:26:42 | 2120   | outgoing-1    |   File "/home/nehru/.local/lib/python2.7/site-packages/exabgp/bgp/message/update/attribute/bgpls/linkstate.py", line 56, in unpack
06:26:42 | 2120   | outgoing-1    |     klass = cls.registered_lsids[scode].unpack(data[4:length+4],length)
06:26:42 | 2120   | outgoing-1    |   File "/home/nehru/.local/lib/python2.7/site-packages/exabgp/bgp/message/update/attribute/bgpls/link/sradj.py", line 69, in unpack
06:26:42 | 2120   | outgoing-1    |     sids.append(sid)

`/home/nehru/.local/lib/python2.7/site-packages/exabgp/bgp/message/update/attribute/bgpls/link/sradj.py`

From the path you are most likely not running master ... also as this file was also fixed with the last patch https://github.com/Exa-Networks/exabgp/commit/d5015fa351072b9a413c8f1662fd6c4dae9ec76b

My bad.
[exa_bgp_ls_log3.txt](https://github.com/Exa-Networks/exabgp/files/3282174/exa_bgp_ls_log3.txt)

08:47:27 | 2591   | outgoing-1    |   File "/opt/exabgp/lib/exabgp/bgp/message/update/attribute/bgpls/prefix/srprefix.py", line 63, in unpack
08:47:27 | 2591   | outgoing-1    |     if flags.flags['V'] and flags.flags['L']:
08:47:27 | 2591   | outgoing-1    | KeyError: 'V'

No issues at all ... This patch should fix this "next" issue .. Coding blind here but hopefully should be right ... Until the next issue ! 😜 

```
nose.plugins.cover: ERROR: Coverage not available: unable to import coverage module
.......E.........
======================================================================
ERROR: test_decoding_udpate_asn4 (decode_test.TestUpdateDecoding)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/Users/thomas/Source/github/exabgp/thomas/qa/tests/decode_test.py", line 393, in test_decoding_udpate_asn4
    Update.unpack_message(data_from_body(body),self.negotiated[asn4])
[...]
  File "/Users/thomas/Source/github/exabgp/thomas/lib/exabgp/bgp/message/update/__init__.py", line 
/Users/thomas/Source/github/exabgp/thomas/lib/exabgp/bgp/message/update/attribute/bgpls/link/sradj.py", line 71, in unpack
    sid = unpack('!I',data[:4])[0:1]
error: unpack requires a string argument of length 4
```
So something else is not right ...

Correct patch !
```sh
./sbin/exabgp -d xxxx --decode "0000 0070 900E 0048 4004 4704 0A0A 0A72 0000 0300 3B03 0000 0000 0000 0000 0100 0020 0200 0004 0000 0001 0201 0004 0000 0000 0202 0004 0000 0001 0203 0004 C0A8 0001 0108 0001 0101 0900 0520 C0A8 0001 4001 0100 4002 0602 0100 0000 0180 1D14 0483 0004 0000 0001 0486 0008 0000 0000 0000 07D1" | grep json
```
```json
22:32:40 | 49767  | parser          | update json { "exabgp": "4.0.1", "time": 1560375160.501447, "host" : "ptr-41.212.219.82.rev.exa.net.uk", "pid" : 49767, "ppid" : 10834, "counter": 1, "type": "update", "neighbor": { "address": { "local": "127.0.0.1", "peer": "127.0.0.1" }, "asn": { "local": 12345, "peer": 12345 } , "direction": "in", "message": { "update": { "attribute": { "origin": "igp", "as-path": [ 1 ], "confederation-path": [], "bgp-ls": { "prefix-metric": 1, "sr-prefix-flags": {"R": 0, "N": 0, "P": 0, "E": 0, "V": 0, "L": 0, "RSV": 0}, "sids": [2001], "undecoded-sids": [], "sr-algorithm": 0 } }, "announce": { "bgp-ls bgp-ls": { "10.10.10.114": [ { "ls-nlri-type": 3, "l3-routing-topology": 0, "protocol-id": 3, "node-descriptors": { "autonomous-system": 1, "bgp-ls-identifier": "0", "ospf-area-id": "0.0.0.1", "router-id": "192.168.0.1" }, "ip-reachability-tlv": "192.168.0.1", "ip-reach-prefix": "192.168.0.1/32", "nexthop": "10.10.10.114", "ospf-route-type": 1 } ] } } } } } }
```

Hi @thomas-mangin 
I checked this morning. BGP session stays up and I can read the Link-State information now.
I will perform more testing on this.
The "undecoded-sids" can be addressed later as I can do workaround in my program if required.

I am not a python expert , but planning to spend some time on understanding your BGP codes soon.

Thank you very much for your help.

Moses